/* 예매하기 서브페이지 */
/* 예매 정보입력칸 */
.tk_inform_box {display: block; margin-bottom:45px;}
.tk_inform_box>ul {width:1200px; height:385px; border-radius: 5px; background:#3f4764; position:relative;margin: 0 auto; padding:18px 20px;
 }

.tk_inform_box>ul>li{float:left;width:577px;height:59px;font-family: 'HangeulNuri-Bold'; font-size:30px;}
.tk_inform_box>ul>li h4{word-spacing:50px; text-align:center; line-height:59px;}

.select_oneway h4.select_on{background: url(../images/sub_oneway_on.png) no-repeat;}
.select_oneway h4 a{color:#fff;}
.select_oneway h4.select_on a{color:#272343;}

.select_return {margin-left:6px;}
.select_return h4  a{color:#fff;}
.select_return h4.select_on{background: url(../images/sub_return_on.png) no-repeat;}
.select_return h4.select_on a{color:#272343;}



.oneway_box{width:1160px; height:290px;margin:0 auto; background: #fff;border-radius: 0 5px 5px 5px; padding:40px 28px;position:absolute;top:76px; right:20px; display:none;}
.return_box{width:1160px; height:290px;margin:0 auto; background: #fff;border-radius:5px 0 5px 5px; padding:40px 28px;position:absolute;top:76px; right:20px; display:none;}

.oneway_box label, .return_box label{font-family: 'GmarketSansMedium'; font-size: 24px; color:#2d334a; float:left; width: 115px; height: 31px;}
fieldset.people_form label{width:fit-content; margin-right:11px;}

div.depart_input_wrap, div.depart_date_wrap, div.return_date_wrap {
  width:411px; height:31px; border:1px solid #2d334a; border-radius: 5px; padding:3px 10px; background: #fff; float:left; margin-right:52px;
}
div.arrive_input_wrap, div.depart_time_wrap, div.return_time_wrap {
  width:411px; height:31px; border:1px solid #2d334a; border-radius: 5px; padding:3px 10px; background: #fff; float:left;
}

.oneway_box div.return_date_wrap, .oneway_box div.return_time_wrap {background:#b4b5bc;}

.search_icon {width: 23px; height: 23px; background: url(../images/srch_icon.jpg) no-repeat; background-size: cover; display: block; text-indent: -9999px; float: right; line-height: 31px;}

.depart_input, .arrive_input, .calendar, .time { width:180px; height: 23px; border:none; font-size: 20px; margin-top:2px; font-family: 'GmarketSansMedium'; color: #272343; line-height: 23px; background: transparent; float: left;}
div.people_wrap{width:82px; height:31px; background:#fff; border:1px solid #2d334a; border-radius: 5px; float:left; margin-right:43px;}
input.adult, input.student, input.kid {width:40px; height:23px; margin-left:2px; border:none; font-size: 20px; margin-top:5px; font-family: 'GmarketSansMedium'; color: #272343; line-height: 23px; background: transparent; float: left;}

form.oneway_box fieldset, form.return_box fieldset{margin-bottom:30px; position:relative;}

.time_icon {width: 23px; height: 23px; background: url(../images/clck_icon.jpg) no-repeat; display: block; text-indent: -9999px; float: right;}
.people_down {width: 30px; height: 29px; background: url(../images/people_down_icon.png) center no-repeat; display: block; border-left: 1px solid #2d334a; text-indent: -9999px; float: right;}

button.tk_reserve{width:523px; height:39px; background:url(../images/sub_tk_reserve_button.jpg) no-repeat; border:none;font-family: 'HangeulNuri-Bold'; font-size:24px; color:#2d334a; word-spacing:20px; position:absolute;right:28px;bottom:34px;}
button.tk_reserve:hover{background:url(../images/sub_tk_reserve_button_act.jpg) no-repeat;}

/* 달력, 시간, 인원수 옵션 */
.time_list1, .time_list2 {background-color: white; width: 411px; height: 237px; font-size: 20px; padding: 7px; white-space: nowrap; overflow-y: scroll; border: 1px solid #2d334a; border-radius: 5px; position: absolute; right: 0px; top: 31px; z-index: 2; display: none}
.time_list1 a, .time_list2 a {font-family: 'GmarketSansMedium'; color: #9aa0b7;}
.number_list {width: 82px; height: 130px; background: white; border: 1px solid #2d334a; border-radius: 5px; font-size: 20px; padding: 7px; line-height: 25px; z-index:2; overflow-y: scroll; display: none;}
.number_list a {font-family: 'GmarketSansMedium'; color: #9aa0b7;}
.opt1 {position: absolute; top: 31px; left: 57px;}
.opt2 {position: absolute; top: 31px; left: 262px;}
.opt3 {position: absolute; top: 31px; left: 444px;}


/* 예매 시 주의사항 */
section.ticket_attention h3{
  font-family: 'GmarketSansBold'; font-size:20px; color:#272343;
width:214px;float:left;}
.attention_wrap{
  width:1200px; height:171px;margin:0 auto;padding:0 15px;
font-size:20px;position:relative; background: url(../images/sub_yellowline1.jpg) left top 25px no-repeat, #fff;}
.attention_wrap ol{width:880px; float:right;}
.attention_list li{list-style-type: decimal;}
section.ticket_attention {background: linear-gradient(90deg, transparent 50%, #fff 50%), url(../images/sub_yellowline1.jpg) left top 25px repeat-x;
margin-bottom:60px;}

section.cancel_attention h3 {font-family: 'GmarketSansBold'; font-size:20px; color:#272343;width:272px; margin-bottom:24px;}
.cancel_wrap{
  width:1200px; margin:0 auto;padding:0 15px;
font-size:20px;position:relative; background: url(../images/sub_yellowline2.jpg) left top 25px no-repeat, #fff;
}
section.cancel_attention {background: linear-gradient(90deg, transparent 50%, #fff 50%), url(../images/sub_yellowline1.jpg) left top 25px repeat-x;}
table.cancel_table th,
table.cancel_table td{
  border:1px solid #b4b5bc; padding:13px;
}
table.cancel_table {border-collapse: collapse;color:#272343;
  font-size: 20px;}
table.cancel_table thead,
table.cancel_table tbody span{font-family: 'GmarketSansMedium';}
table.cancel_table tbody {font-family: 'GmarketSansLight';}
table.cancel_table th.title1{width:214px; height:40px;}
table.cancel_table th.title2{width:795px;}
table.cancel_table th.title3{width:173px;}
table.cancel_table td.num_data{text-align: center;}
table.cancel_table span.red_look {color:#f00;}
p.budo_discript{margin:15px 0;}



/* 예매 배차 조회 */
div.tkinform_route{width:1200px; height:90px; margin:0 auto; position:relative; margin-bottom: 23px;}
.tkinform_route ul li{width:600px; text-align: center; font-family: 'GmarketSansMedium'; font-size: 28px;}
/* --편도 경로 */
li.go_route{background: #bae8e8;line-height:83px; box-shadow: 0px 3px 6px 0 #999;float:left;}
li.return_route{border:1px solid #b4b5bc;background: #fff;; line-height:83px;position:absolute;right:0px;bottom:0px;}

/* --돌아오는 경로 */
/* li.go_route{border:1px solid #b4b5bc;background: #fff;; line-height:83px;position:absolute;left:0px;bottom:0px;}
li.return_route{background: #bae8e8;line-height:83px; box-shadow: 0px 3px 6px 0 #999;float:right;} */

/* 버스 배차 시간표, 좌석 */
table.bus_timetable{width:1200px; margin:0 auto; text-align: center;border-collapse: collapse;font-size:20px;;}
.bus_timetable thead{font-family: 'GmarketSansMedium';}
.bus_timetable tr{height:55px;border:1px solid #000;border-right: 0;border-left: 0;}
.bus_timetable a.button_seat_select{display:block;width:126px; height: 34px; background: url(../images/sub_button_seatselect.png) no-repeat; color:#fff; font-family: 'GmarketSansMedium';font-size: 18px;text-align: center;padding-top: 6px; margin: 0 auto;}
.bus_timetable th.depart_time{width: 190px;}
.bus_timetable th.bus_company{width:263px;}
.bus_timetable th.required_time{width: 278px;}
.bus_timetable th.all_seat{width:132px;}
.bus_timetable th.rest_seat{width:133px;}
.bus_timetable th.select_seat{width:204px;}

/* 좌석선택 창 */
.bus_timetable td.seat_select_pop {height:430px; background:#e7f0f0; padding: 20px 50px; vertical-align: top;}
/* 안내사항 */
.seat_select_notice{text-align: left; font-size: 16px; width:610px;float:left;}
ul.seat_icon_inform{height:179px; width:263px;float:right;font-size: 16px;}
.seat_icon_inform li{line-height:56px; margin-bottom: 5px; padding-left: 77px; text-align: left;}
.impossible_seat_icon{background: url(../images/sub_seat_type_off.png) left no-repeat;}
.possible_seat_icon{background: url(../images/sub_seat_type_empty.png) left no-repeat;}
.select_seat_icon{background: url(../images/sub_seat_type_on.png) left no-repeat;}
/* 좌석선택 이미지 */
form.select_icon_form {width:785px; height:273px; background: url(../images/sub_seat_selectback.png) no-repeat; float:left; margin-top: 31px; padding: 15px 35px 15px 139px;}
div.total_seat_selection{width:264px; height:189px; background: #fff;float:right; margin-top: 26px; border:3px solid #272343; border-radius: 5px;; padding:20px 0;}
.total_seat_selection p:nth-child(1){font-family: 'GmarketSansMedium'; font-size:25px;}
.total_seat_selection p:nth-child(2){font-family: 'GmarketSansBold'; font-size:30px; margin-bottom:10px;}
button.sub_button_seat_end{width:235px; height:51px; background: url(../images/sub_button_seatend.png) no-repeat; font-family: 'GmarketSansMedium'; font-size:25px; line-height: 55px;}
button.sub_button_seat_end:hover{background: url(../images/sub_button_seatend_act.png) no-repeat;}

form.select_icon_form input[type=checkbox]{display: none;}
.select_icon_form input[type=checkbox] + label{width:51px; line-height:56px; background: url(../images/sub_seat_type_empty.png) no-repeat; display: block; font-family: 'HangeulNuri-Bold'; font-size: 18px;padding-right: 6px;}
.select_icon_form input[type=checkbox]:checked + label {background: url(../images/sub_seat_type_on.png) no-repeat;}
.select_icon_form input[type=checkbox]:disabled + label {background: url(../images/sub_seat_type_off.png) no-repeat;}

ul.all_seat_wrap>li {float:left; width:51px; margin-right:19px;}
ul.all_seat_wrap>li:last-child {margin-right: 0;}
ul.seat_col {transform: rotate(180deg);}
ul.seat_col li {transform: rotate(180deg);}
ul.seat_col li:first-child{margin-bottom: 6px;}
ul.seat_col li:last-child {margin-top:68px;}
ul.seat_col.last li{margin-bottom: 6px;}
ul.seat_col.last li:last-child {margin-top:0;}


/* 결제하기 서브페이지 */
/* 회원로그인 */
section.member_login{width: 1200px; height:397px; margin:0 auto 20px; background: #fff; border:2px solid #2d334a; border-radius: 5px; padding:30px 0; text-align: center; color:#272343;}
h3.member_login_title, h3.nonmember_login_title{width:185px; height:39px;font-family: 'HangeulNuri-Bold'; font-size: 30px;margin: 0 auto 30px; background: linear-gradient(0deg, #ffd803 50%, transparent 50%);}
.member_login>p, .nonmember_login>p {font-family: 'hangeulNuri-regular'; font-size:20px; margin-bottom: 30px;}
form.sub_login p {width:382px; height:49px; margin: 0 auto;}
form.sub_login input{width:320px; height:41px; padding:0 10px; border:1px solid #9699a3; border-radius: 5px; font-family: 'GmarketSansMedium'; font-size:18px; color:#272343; margin: 4px 0; float:right; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1) inset;}
label.member_id {display:block; width:49px; height:49px; background: url(../images/sub_tk_login_icon_id.jpg) 100% no-repeat; text-indent: -9999px; float:left;}
label.member_pw {display:block; width:49px; height:49px; background: url(../images/sub_tk_login_icon_pw.jpg) 100% no-repeat; text-indent: -9999px; float:left;}

div.member_login_option {width:294px;height:20px; margin: 22px auto;}
div.member_login_option ul li{float:left; font-size:18px; line-height:18px;}
div.member_login_option>ul>li>a{color:#5a5959; font-family: 'hangeulNuri-regular';}
div.member_login_option ul li:nth-child(1)::after,
div.member_login_option ul li:nth-child(2)::after{content: "|";color:#5a5959; margin:0 8px;}
button.sub_button_login {width:383px; height:40px; border-radius: 5px; background: #2d334a; color:#fff; font-family: 'HangeulNuri-Bold'; font-size:24px; word-spacing: 8px;}

/* 비회원 로그인 */
section.nonmember_login {width:1200px; height:1032px; margin:0 auto 20px; background: #fff; border:2px solid #2d334a; border-radius: 5px; padding:30px 53px; text-align: center; color:#272343;}
.nonmember_login>p {line-height: 40px;}
.nonmember_login h4{width:1080px; margin: 0 auto; text-align: left; font-family: 'HangeulNuri-Bold'; font-size: 24px;}
div.sub_agree_notice1, div.sub_agree_notice2{width:1080px; height:200px; border: 1px solid #999999; margin:0 auto;padding: 10px; text-align: justify; font-size:16px; overflow-y: scroll;}
div.agree_check1_wrap,
div.agree_check2_wrap{font-family: 'hangeulNuri-regular'; font-size: 20px; color:#272343; margin: 13px 5px; float:right;}
.agree_check1_wrap input[type=checkbox],
.agree_check2_wrap input[type=checkbox] {display: none;}
.agree_check1_wrap input[type=checkbox] + label {width:740px; height: 20px; padding-left:34px; background: url(../images/sub_agree_check.png) left center no-repeat;}
.agree_check1_wrap input[type=checkbox]:checked + label{background: url(../images/sub_agree_check_act.png) left center no-repeat;}
div.agree_notice1_wrap, div.agree_notice2_wrap{margin-bottom:73px;}

.agree_check2_wrap input[type=checkbox] + label {width:283px; height: 20px; padding-left:34px; background: url(../images/sub_agree_check.png) left center no-repeat;}
.agree_check2_wrap input[type=checkbox]:checked + label{background: url(../images/sub_agree_check_act.png) left center no-repeat;}

h3.user_confirm_title{width:220px; height:39px;font-family: 'HangeulNuri-Bold'; font-size: 30px;margin: 0 auto 30px; background: linear-gradient(0deg, #bae8e8 50%, transparent 50%);}
div.user_confirm_wrap label{font-family:'HangeulNuri-Bold'; font-size:24px; width:126px; text-align: left; display: inline-block; margin-top: 5px;}
.birth_wrap, .phonenumber_wrap{width:700px; height:41px; margin: 0 auto 20px; text-align: left;}
.birth_wrap input{width:135px; height:41px;border:1px solid #9699a3; padding:0 10px; font-family: 'GmarketSansMedium'; border-radius: 5px; font-size:18px; color:#272343; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1) inset;}
.phonenumber_wrap input{width:83px; height:41px;border:1px solid #9699a3; padding:0 10px; font-family: 'GmarketSansMedium'; border-radius: 5px; font-size:18px; color:#272343; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1) inset; text-align: center;}
.user_confirm_wrap span{color:#8a8b8c; margin: 0 12px; font-size: 18px;}

a.button_pay_next {display:block; width:235px; height:51px; background: url(../images/sub_button_seatend.png) no-repeat; font-family: 'GmarketSansMedium'; font-size:25px; line-height:55px; text-align: center;margin: 55px auto;}
a.button_pay_next:hover{background: url(../images/sub_button_seatend_act.png) no-repeat;}


/* 결제하기 */
/* 최종 예매 정보 칸 */
section.final_reserve_inform{width:1200px; background: #bae8e8; border-radius: 5px; margin: 0 auto 50px; padding: 10px 19px; overflow:hidden;}
div.reserve_inform_wrap{background: #fff; border-radius: 5px; box-shadow: 0 -5px 10px #b4b5bc inset; padding:36px; overflow:hidden;}

.reserve_inform_wrap h3{font-family: 'HangeulNuri-Bold'; font-size: 30px; width:154px; line-height:30px; text-align: left; float: left;}
div.oneway_route_inform_wrap {float:left; width:933px;}
.oneway_route_inform_wrap h4,
.return_route_inform_wrap h4 {width:73px; line-height:27px; color:#fff; font-family: 'hangeulNuri-regular'; font-size: 16px; background: #5b6694; border-radius: 5px; text-align: center; float:left; margin-right:17px;}
.route_place>p {font-family: 'hangeulNuri-regular'; font-size:25px; color:#272343; float:left; line-height: 25px;}
.route_place{width:933px; height:25px; margin-bottom:30px;}

.oneway_route_inform, .return_route_inform_wrap {clear:both;}
.oneway_route_inform>ul, .return_route_inform>ul{width:933px; color:#2d334a; font-size:20px;}
.oneway_route_inform>ul h5, .return_route_inform>ul h5 {font-family: 'GmarketSansMedium'; font-size:20px; width:135px; text-align: left;}
.oneway_route_inform ul h5, .oneway_route_inform ul p,
.return_route_inform ul h5, .return_route_inform ul p {float: left;}
.oneway_route_inform ul li, .return_route_inform ul li{width:466px; float: left; line-height: 20px; margin-bottom:31px;}
.return_route_inform_wrap{margin-left:154px; padding-top:31px;}
.oneway_route_inform ul li:nth-child(5),
.oneway_route_inform ul li:nth-child(6),
.return_route_inform ul li:nth-child(5),
.return_route_inform ul li:nth-child(6){margin-bottom:0px;}

/* 총 인원 수 */
section.total_people_number{background: #fff; width:1200px; height:151px;
border:5px solid #2d334a; border-radius: 5px; margin: 0 auto 50px; padding:30px;}
.total_people_number h3{font-family: 'HangeulNuri-Bold'; font-size:24px; color:#272343; width:128px; text-align: center; margin-bottom: 33px; line-height: 24px;}
.total_people_number p{font-size:24px; font-family: 'GmarketSansMedium'; color:#2d334a; text-align: center; width:128px; line-height: 24px;}
.total_people_number ul li {float:left;}
.plus_icon, .equal_icon {width:75px; height:75px; float:left; margin:0 65px;}
.plus_icon{background: url(../images/sub_pay_icon2.png) no-repeat;}
.equal_icon{background: url(../images/sub_pay_icon1.png) no-repeat;}

/* 카드결제 정보 입력 */
section.pay_inform_input{width:1200px; height:327px; background: #bae8e8; border-radius: 5px; margin: 0 auto 50px; padding: 10px 19px; font-size:20px;}
div.card_inform_wrap{height:307px; background: #fff; border-radius: 5px; box-shadow: 0 -5px 10px #b4b5bc inset; padding:36px;}
.card_inform_wrap fieldset>div {width:700px; height: 31px; line-height: 31px; margin-left: 154px; margin-bottom: 18px;}
.card_inform_wrap legend{font-family: 'HangeulNuri-Bold'; font-size: 30px; width:154px; line-height:30px; text-align: left; float: left;}
.card_inform_wrap span{font-size: 20px; line-height: 31px; margin: 0 10px;}
.card_inform_wrap .small_title{font-family: 'GmarketSansMedium'; font-size:20px; color:#2d334a; width:136px; text-align: left; display: block; line-height: 31px; padding:3px 0;}
.card_type_select input[type=radio]{display:none;}
.card_type_select input[type=radio] + label{width:65px; line-height:31px; height:31px; padding:1px; background: url(../images/card_type_radio.jpg) left center no-repeat; text-align: right; display: block; font-size:20px; margin-right: 43px;}
.card_type_select input[type=radio]:checked + label{background: url(../images/card_type_radio_act.jpg) left center no-repeat;}
.card_type_select>*, .card_number_wrap>*, .vaild_date_wrap>*,
.card_pw_wrap>*, .birth_six_wrap>* {float:left;}
.card_number_wrap input {width:90px; height:31px; border-radius: 5px; border:1px solid #9699a3; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1) inset; text-align: center; color:#2d334a; font-size:20px;}
.vaild_date_wrap input, .card_pw_wrap input {width:58px; height:31px; border-radius: 5px; border:1px solid #9699a3; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1) inset; text-align: center; color:#2d334a; font-size:20px;}
.birth_six_wrap input{width:110px; height:31px; border-radius: 5px; border:1px solid #9699a3; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1) inset; text-align: center; color:#2d334a; font-size:20px;}

/* 유의사항 */
section.precaution_notice h3{
  font-family: 'GmarketSansBold'; font-size:20px; color:#272343;
width:110px;float:left;}
.precaution_wrap{width:1200px; height:220px; margin:0 auto; padding:0 15px;
font-size:20px; position:relative; background: url(../images/sub_yellowline1.jpg) left -120px top 25px no-repeat, #fff;}
.precaution_wrap ol{width:1010px; float:right;}
.precaution_list li{list-style-type: decimal;}
section.precaution_notice {background: linear-gradient(90deg, transparent 50%, #fff 50%), url(../images/sub_yellowline1.jpg) left top 25px repeat-x;
margin-bottom:60px; overflow:hidden;}

/* 결제버튼 */
.button_pay_complete {width:235px; height:51px; background: url(../images/sub_button_seatend.png) no-repeat; font-family: 'GmarketSansMedium'; font-size:25px; line-height: 55px; margin: 0 auto; display: block;}
.button_pay_complete:hover {background: url(../images/sub_button_seatend_act.png) no-repeat;}



/* 예매 완료 */
/* 예매 완료 문구 */
section.reserve_finish{width:1200px; height:151px; margin: 0 auto 45px; border:5px solid #2d334a; border-radius: 5px; padding: 40px 0 52px;}
.reserve_finish p{font-family: 'HangeulNuri-Bold'; font-size:24px; color:#666666; width:300px; height:49px; background: url(../images/complete_check_icon.png) left center no-repeat; text-align: right; margin: 0 auto; padding-top:15px;}
.reserve_finish span{color:#272343;}

/* 최종 예매정보 */
section.user_reserve_inform,
section.user_pay_inform {width:1200px; margin: 0 auto 45px;}

table.final_ticket_inform,
table.fianl_pay_inform {width:1200px; border-collapse: collapse; font-size: 20px; text-align: center;}

.final_ticket_inform tr,
.fianl_pay_inform tr {border: 2px solid #b4b5bc; border-left:0; border-right:0; height:54px;}

.final_ticket_inform th{width: 200px; background: #e2f5f5; font-family: 'GmarketSansMedium';}

.fianl_pay_inform td{width:300px; text-align: left; padding-left:40px;}
.fianl_pay_inform th{background: #e2f5f5; font-family: 'GmarketSansMedium';}

/* 예매 후 유의사항 */
section.after_precaution_notice h3{ font-family: 'GmarketSansBold'; font-size:20px; color:#272343; width:110px;float:left;}
.after_precaution_wrap{width:1200px; height:55px; margin:0 auto; padding:0 15px; font-size:20px; position:relative; background: url(../images/sub_yellowline1.jpg) left -120px top 25px no-repeat, #fff;}
.after_precaution_wrap ul{width:1010px; float:right;}
section.after_precaution_notice {background: linear-gradient(90deg, transparent 50%, #fff 50%), url(../images/sub_yellowline1.jpg) left top 25px repeat-x; margin-bottom:60px; overflow:hidden;}

/* 인쇄, 확인 버튼 */
.button_inform_print{display: block; width:235px; height:51px; border: 2px solid #ffea79; border-radius: 5px; background: url(../images/print_icon.png) left 26px center no-repeat, #fff; font-family: 'GmarketSansMedium'; font-size:25px; padding-left:53px; text-align: left; margin-right:17px;
line-height: 55px; float: left;}
.button_movetohome{display:block; width:235px; height:51px; border-radius: 5px; background: url(../images/sub_button_seatend.png) center no-repeat; font-family: 'GmarketSansMedium'; font-size:25px; margin-left:17px; float:left; line-height: 55px;}
.button_movetohome:hover {background: url(../images/sub_button_seatend_act.png) no-repeat;}
div.button_complete_wrap{width:504px; height:51px; margin: 0 auto; text-align: center;}



/* 예매 내역 조회/변경/취소 */
section.askfor_tk_date{ width:1200px; height:112px; border: 5px solid #2d334a; border-radius: 5px;; background: #fff; margin: 0 auto 50px; padding: 25px 50px 0; position: relative;}
.askfor_tk_date h3 {font-family: 'hangeulNuri-regular'; font-size: 30px; color:#272343; float: left; margin: 5px 50px 0 0;}
.askfor_tk_date input[type=radio] {display: none;}
.askfor_tk_date input[type=radio] + label {display:block; width: 85px; height:20px; line-height: 20px; font-size: 20px; text-align: right; padding-top:2px; background: url(../images/card_type_radio.jpg) left center no-repeat;}
.askfor_tk_date input[type=radio]:checked + label {background: url(../images/card_type_radio_act.jpg) left center no-repeat;}
.askfor_tk_date input[type=radio]{border:1px solid #2d334a; border-radius:5px;}
.radio_date1_wrap, .radio_date2_wrap{float: left; margin:17px 20px 0 0;}
a.start_date, a.end_date {width:23px; height:23px; display: block; background: url(../images/icon_date.jpg) no-repeat; text-indent:-9999px; float:right;}
.askfor_tk_date input[type=text] {border: 0px; width:130px; height:20px; font-size: 20px; font-family:'GmarketSansMedium'; color:#2d334a; padding-top:5px; float:left; background: transparent; margin-top:1px;}
div.start_date_wrap, div.end_date_wrap {width:195px; height:31px; border:1px solid #2d334a; border-radius: 5px; padding:3px 10px; background: #fff; float: left; margin:10px 10px 0 20px;}
.button_askfor_ticket {width:235px; height:51px; background: url(../images/sub_button_seatend.png) no-repeat; font-family: 'GmarketSansMedium'; font-size:25px; line-height: 55px; display: block;float: right;}
.button_askfor_ticket:hover {background: url(../images/sub_button_seatend_act.png) no-repeat;}
.askfor_tk_date>p {font-family:'gmarketSanslight'; font-size: 16px; position: absolute; bottom:-30px; right:0px;}

/* 예매 내역 목록 */
section.reserve_history{width:1200px; margin: 0 auto;}
table.reserve_history_list{width:1200px; border-collapse: collapse; font-size: 20px; text-align: center;}
.reserve_history_list tr{border: 2px solid #b4b5bc; border-left:0; border-right:0; height:54px;}
.reserve_history_list th{background: #e2f5f5; font-family: 'GmarketSansMedium';}
.reserve_history_list tbody tr {height: 108px;}
.reserve_history_list .dateof_reserve{width:184px;}
.reserve_history_list .placeof_depart{width:118px;}
.reserve_history_list .placeof_arrive{width:118px;}
.reserve_history_list .ddateof_depart{width:186px;}
.reserve_history_list .timeof_depart{width:132px;}
.reserve_history_list .countof_tk{width:85px;}
.reserve_history_list .costof_all{width:158px;}
.reserve_history_list .stateof_tk{width:123px;}
.reserve_history_list .see_moredetail{width:106px;}

.button_change_tk, .button_cancel_tk {width: 80px; height:30px; display: block; font-family: 'GmarketSansMedium'; font-size: 18px; margin: 5px auto;}
.button_change_tk{border: 3px solid #ffea79; border-radius: 5px; background: #fff;}
.button_cancel_tk{background: #ffea79;}
.button_moredetail {text-indent: -9999px; width:30px; height:30px; background: url(../images/sub_moredetail_icon.jpg) no-repeat;}

/* 상세 예매 정보 */
div.user_reservation_wrap{width:1200px; margin: 0 auto 50px; border: 2px solid #2d334a;}
.user_reservation_wrap table.final_ticket_inform,
.user_reservation_wrap table.fianl_pay_inform {width:1196px;}
.user_reservation_wrap>section.user_reserve_inform,
.user_reservation_wrap>section.user_pay_inform {margin-bottom:0;}
.user_reservation_wrap .button_inform_print{margin: 20px auto; float: none;}


/* 조회페이지 유의사항 */
section.confirm_precaution_notice h3{font-family: 'GmarketSansBold'; font-size:20px; color:#272343; width:110px;float:left;}
.confirm_precaution_wrap{width:1200px; height:270px; margin:0 auto; padding:0 15px; font-size:20px; position:relative; background: url(../images/sub_yellowline1.jpg) left -120px top 25px no-repeat, #fff;}
.confirm_precaution_notice ol{width:1010px; float:right;}
.confirm_precaution_notice ol>li{list-style-type: decimal;}
section.confirm_precaution_notice {background: linear-gradient(90deg, transparent 50%, #fff 50%), url(../images/sub_yellowline1.jpg) left top 25px repeat-x; margin-bottom:60px;}